/* import '@fontsource/roboto'; */

.App {
  text-align: center;
  /* margin-top: 3em; */
}

header {
  font-size: 30px;
  font-family: 'Roboto';
  /* font-style: 'normal';
  font-display: 'swap'; */
  /* font-weight: 300; */
  /* letter-spacing: 1px; */
}
